.range {
  -webkit-appearance: none;
  vertical-align: middle;
  outline: none;
  padding: 0;
  background: none;
  height: 10px;
}

.range::-webkit-slider-runnable-track {
  background-color: #d7dbdd;
  height: 6px;
  border-radius: 3px;
  border: 1px solid transparent;
}
  
  output {
    border: 2px dashed #000;
    color: #aaa;
    font-family: 'Lato', sans-serif;
    font-size: 12px;
    padding: .4em .6em;
    border-radius: 3px;
  }
  
  .range::-webkit-slider-thumb {
    background-color: #aaa;
    box-shadow: 0 0 5px rgba(0,0,0,.5);
  }
  
  .range[disabled]::-webkit-slider-thumb {
    background-color: transparent;
    border: 1px solid #606670;
    box-shadow: none;
  }
  
  .range::-moz-range-thumb {
    background-color: #aaa;
  }
  
  .range::-ms-thumb { 
    background-color: #aaa;
  }
  #rangevalue1
  {
    margin: 1rem 0 0 0;
    background-color: #000;
    color: #d7dbdd;
    letter-spacing: 1.2px;
    font-weight: 800;
  }
  
  #rangevalue1::after{
      content: "%";
  }